/* custom properties */
:root {
  --ff-primary: "Noto Sans", sans-serif;
  --ff-secondary: "Inconsolata", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: rgb(230, 230, 230);
  --clr-dark: rgb(30, 30, 30);
  --clr-dark2: rgb(60, 60, 60);
  --clr-accent: rgb(38, 97, 38);
  --clr-accent2: rgb(80, 80, 120);
  --clr-accent3: rgb(74, 82, 94);
  --clr-brown: rgb(100, 50, 0);
  --clr-html: rgb(255, 100, 0);
  --clr-css: rgb(50, 50, 200);
  --clr-js: rgb(200, 200, 0);

  --fs-h1: 1.8em;
  --fs-h2: 1.3em;
  --fs-h3: 1em;
  --fs-h4: 0.9em;
  --fs-h5: .8em;
  --fs-body: 0.75rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
  --bs2: 0.1em -0.1em 1em rgba(0, 0, 0, 0.2);
  --bs3: 0.5em -0.5em 1em rgba(0, 0, 0, 0.2);
  --bs4: 0em 0em 0.2em rgba(200, 200, 200, 1);
}

@media (min-width: 64em) {
  :root {
    --fs-h1: 2em;
    --fs-h2: 1.5em;
    --fs-h3: 1.17em;
    --fs-h4: 1.12em;
    --fs-h5: .83em;
    --fs-body: 0.85rem;
  }
}

/* typography */
h1 {
  line-height: 1.4rem;
  margin: 0;
  font-size: var(--fs-h1);
}

h2 {
  line-height: 1.4rem;
  margin: 0;
  font-size: var(--fs-h2);
}

h3 {
  line-height: 1rem;
  margin: 0;
  font-size: var(--fs-h3);
}

h4 {
  line-height: 1rem;
  margin: 0;
  font-size: var(--fs-h4);
}

h5 {
  line-height: 1rem;
  font-size: var(--fs-h5);
  font-weight: var(--fw-reg);
}

body {
  line-height: 1.2rem;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

@media (min-width: 64em) {
  h1 {
    line-height: 1.8rem;
  }

  h2 {
    line-height: 1.6rem;
  }

  h3 {
    line-height: 1rem;
  }

  h4 {
    line-height: 1rem;
  }

  h5 {
    line-height: 1rem;
  }

  body {
    line-height: 1.2rem;
  }
}

/* styles */
section {
  padding: 3em 2em;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* browse assist*/
:focus {
  outline: 2px solid var(--clr-accent2);
  outline-offset: 2px;
  position: static;
  z-index: 0;
  border-radius: 2px;
}

html {
  scroll-behavior: smooth;
}

/* hanhuang.tech splash */
#hhtsplash {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--clr-light);
  transition: 1s;
  transition-delay: 2s;
}

#hhtsplash div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#hhtsplash img {
  width: 60%;
}

#hhtsplash h1 {
  font-family: var(--ff-secondary);
  background-color: lightgray;
  padding: 2px 5px;
  border: 1px solid gray;
}

@media (min-width: 64em) {
  #hhtsplash img {
    left: 50%;
  }
}

/* animations */

/*img.habbit animations*/
img.habbit-a.animate,
img.habbit-b.animate {
  animation: habbit-rotate 2.5s;
}

img.banner.animate {
  animation: bannershrink 2.5s;
}

#arrow-button.animate {
  animation: arrowrotation 2.5s;
}

#lantern.animate {
  animation: animateLtnBG 2.5s;
}

/*#burger toggle animations*/
#burger.toggle {
  visibility: hidden;
  opacity: 0;
  border-color: gray var(--clr-accent3) var(--clr-accent3) gray;
}

#hidden-burger-contents.toggle {
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
  transition: 0.5s;
}

#arrow-button.toggle {
  visibility: hidden;
  background-color: var(--clr-accent3);
  scale: 1.5;
  opacity: 0;
  transition: 2s;
}

/*keyframes*/
@keyframes habbit-rotate {
  from {
    transform: rotate(0deg);
  }

  50% {
    border-radius: 50%;
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes bannershrink {
  50% {
    border-radius: 10px;
    filter: blur(1px);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes arrowrotation {
  from {
    transform: rotate(0deg);
  }

  50% {
    background-color: skyblue;
    filter: blur(1px);
    border-radius: 50%;
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes animateLtn {
  60% {
    background: rgb(100, 100, 100);
  }

  80% {
    background: whitesmoke;
    border-color: var(--clr-dark) gray;
  }
}

@keyframes animateLtnBG {
  50% {
    background-color: yellow;
  }
}


@keyframes animateLtn-lt {
  60% {
    border-color: transparent rgba(100, 100, 100, 0.5) transparent rgba(100, 100, 100, 0.5);
  }

  80% {
    visibility: transparent transparent transparent transparent;
  }
}

/* nav */
nav.bar {
  position: fixed;
  top: 45%;
  right: 0px;
  z-index: 1;
}

nav.bar.sectioned-with-tab {
  top: 40%;
  transform: translateX(50px);
  transition: 1s;
}

#burger {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
  cursor: pointer;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  border-width: 3px;
  border-style: solid;
  border-color: gray var(--clr-accent3) var(--clr-accent3) gray;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--clr-light);
  transition: 0.5s;
}

#burger:hover {
  background: rgba(25, 25, 25, 0.8);
  border-color: var(--clr-dark) gray gray var(--clr-dark);
  filter: drop-shadow(0px 0px 8px var(--clr-light));
}

div.ham {
  display: block;
  background: lightgray;
  min-width: 12px;
  padding: 1px;
}

@media(min-width:64em) {
  div.ham {
    display: block;
    min-width: 15px;
    padding: 1.5px;
  }
}

#hidden-burger-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 96px;
  row-gap: 2px;
  opacity: 0;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.75);
  padding: 5px 0;
  font-family: var(--ff-secondary);
  transform: translateX(650px);
  border-width: 2px;
  border-style: solid;
  border-color: var(--clr-accent);
  border-radius: 3px;
  box-shadow: var(--bs);
  transition-duration: 1s;
  z-index: 1;
}

@media(min-width:64em) {
  #hidden-burger-contents {
    min-width: 120px;
    padding: 8px 0;
  }
}

#hidden-burger-contents.frontend {
  min-width: 60px;
}

#hidden-burger-contents .topicanchor {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
  padding: 0px 4px;
  background-color: var(--clr-dark2);
  color: var(--clr-light);
  border-width: 1px;
  border-style: solid;
  border-color: gray var(--clr-dark) var(--clr-dark) gray;
  transition: 0.5s;
  filter: grayscale(60%);
  box-shadow: var(--bs);
}

#hidden-burger-contents .topicanchor:hover {
  border-color: var(--clr-dark2) gray gray var(--clr-dark2);
  background-color: var(--clr-dark);
  filter: grayscale(0%);
}

@media(min-width:64em) {
  #hidden-burger-contents .topicanchor {
    padding: 2px 6px;
  }
}

#hidden-burger-contents img.habbit-a {
  position: absolute;
  bottom: -8px;
  left: -20px;
  width: 25px;
  box-sizing: border-box;
  background-color: var(--clr-dark);
  border: 2px solid var(--clr-accent);
  border-radius: 50%;
}

div.burger-content-flexwrapper {
  margin-top: -5px;
}

/*individual resource*/
div.burger-content-flexwrapper div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  padding-bottom: 5px;
  text-align: center;
}

h4.burger-content-title {
  display: inline-block;
  color: lightgreen;
  list-style: none;
  margin: 5px auto 0;
  padding: 0 5px;
  transition: 0.5s;
}

h4.burger-content-title:hover {
  background: var(--clr-accent);
}

div.burger-content-flexwrapper div a {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

div.burger-content-flexwrapper div a:hover {
  color: lightblue;
}

div.burger-content-flexwrapper div a span {
  display: block;
  margin: auto;
}

/*arrow-button*/

@media (min-width: 64em) {
  #arrow-button {
    opacity: 0.5;
    background-color: slategray;
    border-width: 4px;
    border-style: solid;
    border-color: gray var(--clr-dark) var(--clr-dark) gray;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
    transition: 1s;
  }

  #arrow-button span {
    display: block;
    border-width: 2px 0 0 2px;
    border-style: solid;
    border-color: var(--clr-light);
    transform: rotate(45deg);
    margin: 7px;
    padding: 5px;
  }

  #arrow-button:hover {
    opacity: 1;
    background-color: var(--clr-accent3);
    border-color: lightgray var(--clr-dark) var(--clr-dark) lightgray;
    border-radius: 0;
  }
}

/*lantern*/

/*intial position*/
#lantern {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 4;
  text-decoration: none;
  background: radial-gradient(gray, rgba(50, 50, 50, 0.5));
  height: 90px;
  width: 50px;
  border-radius: 30px 0 0;
}

/*lantern ring*/
div.standpart {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 15px;
  padding: 3px;
  border: 2px inset var(--clr-dark);
}

/*horizontal lantern column*/
div.standpart::before {
  position: absolute;
  top: 0px;
  left: -5px;
  z-index: 2;
  content: "";
  display: block;
  background: var(--clr-dark);
  width: 30px;
  height: 4px;
}

/*vertical lantern column*/
div.standpart::after {
  position: absolute;
  top: -10px;
  left: 10px;
  content: "";
  display: block;
  background: rgb(80, 80, 80);
  padding: 35px 4px;
  border-color: var(--clr-dark);
  border-style: solid;
  border-width: 6px 2px 12px;
  border-radius: 2px 2px 0 0;
}

/*1st dome*/
div.dome {
  content: "";
  position: absolute;
  z-index: 2;
  top: -12px;
  right: -13px;
  border: 16px solid;
  border-color: transparent transparent var(--clr-dark) transparent;
  border-radius: 15px;
}

/*2nd dome*/
div.dome::after {
  content: "";
  position: absolute;
  bottom: -28px;
  right: -20px;
  border: 20px solid;
  border-color: transparent transparent var(--clr-dark) transparent;
  border-radius: 12px;
}

/*bulb*/
div.bulb {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: -11px;
  display: flex;
  background: rgba(150, 150, 150, 1);
  border-width: 5px 1px 1px;
  border-style: solid;
  border-color: var(--clr-dark) gray;
  border-radius: 0 0 50% 50%;
}

div.bulb:hover {
  transition-delay: 1s;
  background-color: rgb(200, 200, 200);
  border-color: rgb(25, 25, 25);

  animation-name: animateLtn;
  animation-delay: 1s;
  animation-duration: 1s;
}

/*con text*/
span.bulb::before {
  position: absolute;
  bottom: 32px;
  right: 0px;
  content: "con";
  color: var(--clr-light);
}

/*tact text*/
span.bulb {
  position: relative;
  z-index: 4;
  display: inline-block;
  writing-mode: vertical-lr;
  padding: 0 0 0px 2px;
  text-decoration: none;
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
  font-size: 1rem;
  line-height: 1.5rem;
}

/*lantern light*/
div.bulb::before {
  content: "";
  position: absolute;
  z-index: 4;
  bottom: -6px;
  right: -16px;
  border: 15px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  border-radius: 10px;
  padding: 14px;
}

/*lantern light hover*/
div.bulb:hover::before {
  transition-delay: 1s;
  border-color: transparent rgba(200, 200, 200, 0.75) transparent rgba(200, 200, 200, 0.75);

  animation-name: animateLtn-lt;
  animation-delay: 1s;
  animation-duration: 1s;
}

/*con*/
span.bulb:hover::before {
  color: gray;
}

/*tact*/
span.bulb:hover {
  color: rgb(25, 25, 25);
}

/* fourofour */
section.fourofour {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to top,
      var(--clr-dark) 50%,
      rgba(200, 100, 100, 0.6)),
    url(../../hanhuang.tech/img/sunset.jpg);
  background-repeat: no-repeat;
}

div.four-box {
  background: var(--clr-light);
}

div.four-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
}

div.four-flex img {
  filter: grayscale(0.5) blur(1px) drop-shadow(10px 10px 10px var(--clr-dark));
  position: absolute;
  top: -35px;
  left: 75%;
}


@media (min-width: 64em) {
  div.four-flex img {
    transform: scale(125%);
    top: -50px;
    left: 85%;
  }
}

div.four-flex img.red {
  z-index: 1;
}

div.four-flex img.green {
  z-index: 0;
}

div.four-flex h1 {
  display: inline-block;
  background: var(--clr-accent3);
  color: var(--clr-light);
  letter-spacing: 2px;
  font-family: var(--ff-secondary);
  margin: auto 20px auto 20px;
  padding: 5px 8px;
  border-width: 4px;
  border-style: solid;
  border-color: grey var(--clr-dark) var(--clr-dark) grey;
  box-shadow: var(--bs);
}

div.four-box h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-dark2);
  margin: 20px;
}

a.four-return h2 {
  display: inline-block;
  text-decoration: none;
  background: darkred;
  color: var(--clr-light);
  white-space: nowrap;
  padding: 0px 5px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  transition: 1s;
}

a.four-return h2:hover {
  color: var(--clr-accent);
  border-color: var(--clr-accent);
  background: lightgreen;
}

/* contact */
section.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-image: url(../img/dusk.jpg);
  background-color: darkgoldenrod;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

#form {
  background-color: var(--clr-light);
  padding: 15px;
  border-radius: 5px;
}

.contactform .responses {
  padding: 15px;
  margin: 0;
}

.flexrowwrap {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.flexcolumnwrap {
  flex-direction: stretch;
}

input[type=text],
select,
textarea {
  padding: 8px;
  margin: 5px 0 10px 0;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

input[type=text] {
  display: block;
}

textarea {
  height: 100px;
}

input[type=submit] {
  cursor: pointer;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
}

input[type=submit]:hover {
  background-color: green;
}

/* logo */
div.logowrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 0 0 30px 0;
}

div.logo {
  position: fixed;
  display: flex;
  padding: 11px;
}

div.habbit-img {
  position: relative;
  margin-right: 10px;
  border-radius: 0 0 10px 0;
  filter: drop-shadow(0 0 2px lightgreen);
}

img.habbit-a,
img.habbit-b {
  width: 42px;
  cursor: pointer;
}

img.habbit-a {
  position: relative;
}

img.habbit-b {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

#habbitbanner {
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  background-color: var(--clr-light);
  text-decoration: none;
  margin: auto;
  padding: 0 5px;
  color: var(--clr-dark2);
  font-weight: bold;
  font-family: var(--ff-secondary);
  font-size: 1.1rem;
  border: 2px solid var(--clr-dark2);
  border-radius: 0 6px 6px 0;
}

#habbitbanner:hover {
  transform: scale(105%);
}

/* connectedto */
#connectedwrap {
  position: fixed;
  display: inline-block;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  max-width: 65px;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.5);
}

@media (min-width: 64em) {
  #connectedwrap {
    max-width: 92px;
  }
}

#dynamic-rgb {
  margin: 2px 6px;
  text-align: center;
  color: var(--clr-light);
  background: black;
}

div.connectedto {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 5s linear infinite;
}

h5.connectedto {
  display: inline-block;
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  letter-spacing: 1px;
  margin: auto 0;
}

/*partitioning*/
section.body-partition {
  padding: 0;
}

div.leftbar {
  visibility: hidden;
}

@media (min-width: 64em) {
  section.body-partition {
    display: flex;
  }

  section.body-partition.centerpos {
    position: relative;
    padding: 0;
  }

  div.leftbar {
    visibility: visible;
    background: var(--clr-dark);
    padding: 0 46px;
  }
}

/*top partition */

/* #resources */
#resources-titlebar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-image: url(../img/bridge.jpg);
  background-size: cover;
  background-position: 0 56%;
  filter: grayscale(80%);
  opacity: 0.9;
}

#resources-titlebar h1 {
  display: inline-block;
  background: var(--clr-dark2);
  padding: 0px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  border: 1px solid gray;
}

@media(min-width:64em) {
  #resources-titlebar h1 {
    padding: 0px 10px;
  }
}

#resources {
  border: 1px solid var(--clr-dark2);
  text-align: center;
  background: linear-gradient(127deg, rgba(0, 0, 0, 1), rgba(100, 0, 0, 0) 70%),
    linear-gradient(127deg, rgba(0, 150, 0, 1), rgba(0, 100, 0, 0) 70%),
    linear-gradient(336deg, rgba(0, 150, 150, 1), rgba(0, 0, 100, 0) 70%);
  background-attachment: fixed;
}

#res-frame {
  margin: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--clr-dark2);
  border-radius: 5px;
}

div.subjectwrapper1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  background: var(--clr-light);
  max-width: 200px;
  padding: 20px;
  margin: 50px auto;
  border: 3px solid var(--clr-dark2);
  border-radius: 25px 0px;
  box-shadow: var(--bs);
}

div.subjectwrapper1 img {
  max-width: 150px;
  border-radius: 5px;
}

a.subjectheading1 {
  z-index: 0;
  background-color: rgb(75, 75, 75);
  margin: 10px 0 0;
  text-decoration: none;
  color: var(--clr-light);
  font-size: 0.9rem;
  padding: 0 10px;
  filter: drop-shadow(0px 4px 4px gray);
}

@media (min-width: 64em) {
  a.subjectheading1 {
    font-size: 1rem;
  }
}

div.subjectdropdown1 {
  position: absolute;
  top: 150px;
  z-index: -1;
  opacity: -1;
}

a.dropdowntopic {
  display: block;
  text-decoration: none;
  font-weight: var(--fw-reg);
  color: var(--clr-light);

  background: var(--clr-dark);
  min-width: 200px;
  margin: 1px 0;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  box-shadow: var(--bs);
}

a.dropdowntopic:hover {
  display: block;
  border-color: gray white white gray;
  background: var(--clr-dark2);
  margin: 1px -5px 1px 5px;
  border-radius: 2px;
  transition-duration: 0.5s;
}

p.subjectblurb1 {
  margin: 6px 0 0;
  line-height: 1rem;
}

span.awstip {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 0;

  background-color: gray;
  display: inline-block;
  white-space: nowrap;
  font-size: 0.9rem;
  line-height: 1rem;
  color: var(--clr-light);
  font-family: var(--ff-secondary);

  padding: 0 2px;
  margin: 2px 20px;
  outline: 1px solid var(--clr-dark2);
  border-radius: 2px;
}

@media (min-width: 64em) {
  #resource-flex-extender {
    flex: 1;
  }

  div.subjectgroups {
    display: flex;
    justify-content: center;
    margin: 20px 200px;
  }
}

/*mid partition*/
#proj-section-headings {
  text-align: center;
  padding: 20px;
  background-color: var(--clr-accent3);
  box-shadow: var(--bs);
}

h1.proj-section-title {
  display: inline-block;
  background-color: var(--clr-accent3);
  color: var(--clr-light);
  padding: 2px 10px;
  filter: grayscale(1);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  border-width: 1px;
  border-style: solid;
  border-color: var(--clr-light) var(--clr-dark2) var(--clr-dark2) var(--clr-light);
  box-shadow: var(--bs);
}

h3.proj-section-subtitle {
  color: lightblue;
  font-family: var(--ff-secondary);
  margin-top: 2px;
}

#project-tiles {
  background-image: linear-gradient(to bottom, var(--clr-accent3), black, var(--clr-accent3));
  background-attachment: fixed;
  padding: 20px 68px;
}

@media (min-width: 64em) {
  #project-tiles {
    flex: 1;
    background-image: radial-gradient(var(--clr-dark2), black);
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    background-attachment: local;
  }
}

div.project {
  z-index: 1;
  text-align: center;
  margin: 20px auto;
  max-width: 500px;
  padding: 10px 20px;
  background-color: rgb(80, 80, 80, 0.4);
  border-width: 2px;
  border-style: solid;
  border-color: gray var(--clr-dark2) var(--clr-dark2) gray;
  border-radius: 10px;
  box-shadow: var(--bs);
}

#critiques {
  display: block;
  z-index: 1;
  text-align: center;
  margin: 20px auto;
  padding: 5px 0 0;
  background-color: var(--clr-accent2);
  box-shadow: var(--bs);
}

#critiques:hover {
  background-color: var(--clr-accent3);
}

#critiques a {
  text-decoration: none;
}

@media (min-width: 64em) {
  div.project {
    z-index: -1;
    margin: 0;
    opacity: 0;
    background-size: cover;
    border-color: transparent;
    border-radius: 0;
  }

  #critiques {
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 30px;
    margin: 0;
    opacity: 0;
    max-width: 100px;
  }

  #critiques:hover {
    scale: 105%;
  }
}

#project-tiles :nth-child(1) {
  opacity: 1;
}

h3.project-title {
  display: inline-block;
  padding: 2px 5px;
  color: var(--clr-light);
  background-color: var(--clr-accent3);
  border-width: 1px;
  border-style: solid;
  border-color: gray var(--clr-dark) var(--clr-dark) gray;
  box-shadow: var(--bs);
}

div.imgwrapper1,
div.imgwrapper2,
div.imgwrapper3,
div.imgwrapper4 {
  position: relative;
  min-height: 80px;
  max-width: 200px;
  background-color: var(--clr-light);
  margin: 10px auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--bs);
}

h2.viewgithub1,
h2.viewgithub2,
h2.viewgithub3,
h2.viewgithub4 {
  position: absolute;
  display: inline-block;
  padding: 2px 5px;
  top: 30%;
  left: 0%;
  color: white;
  font-weight: var(--fw-reg);
  font-family: var(--ff-secondary);
  background-color: var(--clr-dark2);
  opacity: 0;
  z-index: 0;
}

h3.project-subtitle {
  color: greenyellow;
  font-weight: var(--fw-reg);
}

p.project {
  color: var(--clr-light);
  margin: 5px auto;
}

a.web-link {
  text-decoration: none;
  margin: 0 5px;
  color: skyblue;
  transition: 0.5s;
}

@media (min-width: 64em) {
  a.web-link+a.web-link {
    margin-left: 20px;
  }
}

a.web-link:hover {
  color: lightslategray;
}

div.project-list-subjects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
  margin-bottom: 5px;
}

/* projects */
div.project-list-subjects h4 {
  display: inline-block;
  margin: auto 0;
  padding: 0px 5px;
  color: var(--clr-light);
  font-weight: var(--fw-reg);
  white-space: nowrap;
  background-color: slategray;
}

a.justify {
  cursor: pointer;
  display: inline-block;
  background-color: var(--clr-light);
  text-decoration: none;
  color: brown;
  margin: 3px auto;
  padding: 0px 8px;
  box-shadow: var(--bs);
  transition-duration: 1s;
  border-width: 2px;
  border-style: solid;
  border-color: brown;
}

a.justify h3 {
  font-weight: var(--fw-bold);
  text-align: center;
}

a.justify:hover {
  background-color: brown;
  color: var(--clr-light);
  border-color: var(--clr-light);
}

@media (min-width: 64em) {

  /* project section rotating animation */
  #project-bg-img {
    position: absolute;
    z-index: 0;
    left: 96px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    width: 300px;
    background-image: url(../img/pohutu.jpg);
    background-color: radial-gradient(var(--clr-dark2), black);
    background-blend-mode: multiply;
    background-size: cover;
    box-shadow: var(--bs3);
    border-radius: 10px;
  }

  #habbit-border {
    position: absolute;
    z-index: 0;
    left: 96px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 120px;
    width: 120px;
    background-color: rgb(0, 0, 0, 0.5);
    outline-width: 10px;
    outline-style: solid;
    outline-color: var(--clr-dark);
  }

  #habbit-spray {
    position: absolute;
    z-index: 1;
    left: 96px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    background-image: url('../img/habbit-a.png');
    background-size: cover;
  }

  /* projects */
  div.project-list-subjects {
    margin: 5px 0;
  }

  #proj-section-headings {
    opacity: 0;
    position: absolute;
    top: 15px;
    left: 105px;
    border-radius: 20px 0;
  }

  div.imgwrapper1,
  div.imgwrapper2,
  div.imgwrapper3,
  div.imgwrapper4,
  div.imgwrapper5 {
    min-height: 130px;
    max-width: 220px;
  }
}

/*bot partition*/
#han {
  padding: 20px;
  color: var(--clr-dark);
  border-width: 0 80px;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.2);
}

#han h1 {
  text-align: center;
  font-weight: var(--fw-bold);
}

#han h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-reg);
  margin: 10px 0;
}

#han img {
  max-width: 150px;
  margin: 20px auto;
  box-shadow: var(--bs);
}

#han p {
  text-align: center;
  margin: auto;
}

div.trees {
  padding: 50px 0;
  background-image: url(../img/trees.jpg);
  filter: grayscale(20%);
  background-color: lightgreen;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: scroll;
  background-position: 0 10%;
}

@media (min-width: 64em) {
  #han {
    flex: 1;
    padding: 50px;
    border-width: 0px 300px;
  }

  #han img {
    max-width: 250px;
    margin: 30px auto;
  }

  #han p {
    max-width: 600px;
    text-align: center;
  }
}

/* contactbar */
#contactbar {
  background: var(--clr-dark2);
  padding: 10px 0;
}

div.contactbar-flexwrapper {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

div.contactbar-flexwrapper h2 {
  display: none;
}

@media (min-width: 64em) {
  div.contactbar-flexwrapper {
    display: flex;
    justify-content: center;
    column-gap: 30px;
  }

  div.contactbar-flexwrapper h2 {
    display: block;
  }
}

div.contactbar-flexwrapper a {
  margin: auto 0;
}

a.largeemail {
  display: flex;
  column-gap: 10px;
  text-decoration: none;
  padding: 3px 0px;
  border-radius: 5px;
  transition: 0.5s;
}

@media (min-width: 64em) {
  a.largeemail {
    padding: 4px 8px;
  }
}

a.largeemail h2 {
  margin: auto 0;
  font-family: var(--ff-secondary);
  color: var(--clr-light);
}

a.largeemail img,
a.largegithub img,
a.largelinkedin img,
a.largeyoutube img {
  width: 30px;
  filter: invert(100%);
  transition: 0.5s;
}

a.largegithub img:hover {
  filter: invert(1%) drop-shadow(0px 0px 4px lightgray);
}

a.largeemail img:hover,
a.largelinkedin img:hover,
a.largeyoutube img:hover {
  filter: invert(10%) drop-shadow(0px 0px 4px lightgray);
}

@media (min-width: 64em) {
  div.contactbar-flexwrapper {
    column-gap: 50px;
  }

  a.largeemail img:hover {
    filter: invert(100%)
  }

  a.largeemail:hover {
    background-color: rgb(40, 40, 40);
    filter: drop-shadow(0px 0px 4px gray);
  }
}

/* footer */
#footer {
  position: relative;
  z-index: 0;
  background-color: var(--clr-accent3);
  padding: 11.5px 0;
  border-width: 0 70px 0 0;
  border-style: solid;
  border-color: var(--clr-accent3);
}

h4.footer {
  position: absolute;
  bottom: 0px;
  right: -15px;

  display: inline-block;
  background-color: rgb(75, 140, 75);

  font-weight: var(--fw-reg);
  color: var(--clr-light);
  letter-spacing: 1px;
  padding: 2px 5px;
  margin: auto 0;
  border-width: 2px 5px;
  border-style: solid;
  border-color: var(--clr-dark2);
  border-radius: 8px;
}

@media (min-width: 64em) {
  h4.footer {
    padding: 2px 8px;
    border-width: 2px 8px;
    border-radius: 10px;
  }
}

/* frontend tech */

.descbox-wrapper.frontend {
  background-color: gray;
  background-image: url(../img/codefrontend.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: top;
  padding: 20px;
  border-width: 0 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--clr-brown);
}

@media (min-width: 64em) {
  .descbox-wrapper.frontend {
    background-image: linear-gradient(to bottom, black, burlywood);
    padding: 40px 5px 0px;
    z-index: 0;
  }
}

/* critiques */
.descbox-wrapper.critiques {
  background-color: gray;
  background-image: url(../img/codefrontend.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  padding: 40px;
  border-width: 0 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--clr-dark2);
  filter: grayscale(100%);
}

@media (min-width: 64em) {
  .descbox-wrapper.critiques {
    background-image: linear-gradient(to bottom, black, white);
    padding: 40px 5px 0px;
    z-index: 0;
  }
}

div.descbox {
  display: flex;
  align-items: center;
  max-width: 260px;
  padding: 10px;
  margin: 0 auto;
  background: var(--clr-dark);
  box-shadow: var(--bs);
}

@media (min-width: 64em) {
  div.descbox {
    background: var(--clr-dark2);
    justify-content: space-around;
    max-width: 500px;
  }
}

.descbox-img {
  display: none;
}

@media (min-width: 64em) {
  .descbox-img {
    display: block;
    padding-right: 0px;
    max-width: 150px;
    box-shadow: var(--bs);
  }
}

div.descbox h2 {
  text-align: center;
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  padding: 5px;
}

@media (min-width: 64em) {
  div.descbox h2 {
    padding: 15px;
  }
}

/* social icons */

div.socialicons {
  display: none;
}

@media (min-width: 64em) {
  div.socialicons {
    display: inline-flex;
    margin-top: 4px;
    column-gap: 5px;
  }
}

a.medgithub,
a.medyoutube {
  padding: 5px;
  filter: invert(100%);
  border-radius: 5px;
  transition: 1s;
}

a.smallgithub,
a.smallyoutube {
  padding: 4px;
  margin: auto;
  filter: invert(10%);
  border-radius: 5px;
  background-color: transparent;
  transition: 1s;
}

@media (min-width: 64em) {

  a.medgithub,
  a.medyoutube {
    background-color: var(--clr-light);
  }
}

a.medgithub img,
a.medyoutube img,
a.smallgithub img,
a.smallyoutube img {
  max-width: 20px;
}

@media (min-width: 64em) {

  a.medgithub img,
  a.medyoutube img,
  a.smallgithub img,
  a.smallyoutube img {
    max-width: 22px;
  }
}

a.medgithub:hover,
a.medyoutube:hover {
  background-color: rgba(200, 200, 200, 1);
}


a.smallgithub:hover,
a.smallyoutube:hover {
  background-color: rgba(140, 140, 140, 1);
}

/* tab */
#tabwrapper {
  position: fixed;
  left: 0;
  top: 40%;
  transform: translate(-50px);
  background-color: var(--clr-dark2);
  margin: 0;
  padding: 0;
  border-radius: 0px 5px 5px 0px;
  opacity: 0.7;
}

#tab {
  padding: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 0px 5px 5px 0px;
  box-shadow: var(--bs);
}

@media (min-width: 64em) {
  #tabwrapper {
    left: 2px;
    top: 40%;
    transform: translate(52px);
    border-radius: 5px 0 0 5px;
    opacity: 1;
  }

  #tab {
    border-radius: 5px 0 0 5px;
  }
}

.tab-html,
.tab-css,
.tab-js {
  background-color: lightgray;
  filter: grayscale(100%);
  padding: 5px;
  border: 1px solid gray;
  border-radius: 2px;
}

.tab-html,
.tab-css {
  max-height: 35px;
  margin-bottom: 2px;
}

.tab-js {
  max-height: 28px;
}

@media (min-width: 64em) {

  .tab-html,
  .tab-css {
    max-height: 40px;
  }

  .tab-js {
    max-height: 32px;
  }
}

/* html/css/js wrapper */
#htmlwrapper,
#csswrapper,
#jswrapper {
  flex: 1;
  background-color: var(--clr-light);
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: var(--clr-brown);
  padding-bottom: 15px;
}

#htmlwrapper-critiques,
#csswrapper-critiques,
#jswrapper-critiques {
  flex: 1;
  background-color: var(--clr-light);
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: var(--clr-dark2);
  padding-bottom: 15px;
}

div.subject-banner {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  padding: 15px;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  background-image: url(../img/treebyhouse.jpg);
  background-color: var(--clr-brown);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  border-width: 10px 0 5px 0;
  border-style: solid;
  border-color: var(--clr-dark) transparent var(--clr-dark2) transparent;
}

div.subject-banner.grey {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  padding: 15px;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  background-image: url(../img/codefrontend.png);
  background-color: rgb(80, 80, 80);
  background-blend-mode: multiply;
  background-size: 100%;
  background-attachment: fixed;
  border-width: 10px 0 5px 0;
  border-style: solid;
  border-color: var(--clr-dark) transparent var(--clr-dark2) transparent;
}

@media(min-width: 64em) {
  div.subject-banner.grey {
    background-size: 50%;
  }
}

.shorttitle-html,
.shorttitle-css,
.shorttitle-js {
  color: var(--clr-light);
  padding: 0 5px;
}

.shorttitle-html {
  background-color: var(--clr-html);
}

.shorttitle-css {
  background-color: var(--clr-css);
}

.shorttitle-js {
  background-color: var(--clr-js);
}

.fulltitle {
  color: var(--clr-light);
  padding: 0 5px;
}

@media(min-width: 64em) {
  div.subject-banner {
    padding: 20px;
  }
}

/* side headings */
div.side-heading {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-secondary);
  row-gap: 2px;
  padding: 10px 0 0 10px;
}

div.side-heading h4 {
  display: inline-block;
  background-color: var(--clr-dark2);
  font-weight: var(--fw-reg);
  color: var(--clr-light);
  padding: 0px 5px;
  margin-right: auto;
}

div.body-wrapper {
  padding: 0 60px;
}

div.body-wrapper h3 {
  margin: 2px 0;
}

@media(min-width:64em) {
  div.side-heading {
    row-gap: 4px;
  }

  div.side-heading h4 {
    padding: 2px 7px;
  }

  div.body-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  div.body-wrapper h3 {
    margin: 5px 0;
  }
}

/* codebox */
div.codebox,
div.codebox .green,
div.codebox .brown {
  background: rgba(0, 0, 0, 0.2);
  font-family: var(--ff-secondary);
  margin: 0;
  padding: 5px 10px;
  line-height: 1rem;
  overflow-wrap: break-word;
  border-width: 2px 2px 2px 5px;
  border-style: solid;
  border-color: var(--clr-dark);
}

div.codebox.green {
  border-color: var(--clr-accent);
}

div.codebox.brown {
  border-color: var(--clr-brown);
}

p.margin0 {
  margin: 0;
}

p.margin1 {
  margin: 0 0 0 40px;
}

p.margin2 {
  margin: 0 0 0 80px;
}

p.margin3 {
  margin: 0 0 0 120px;
}

p.margin4 {
  margin: 0 0 0 160px;
}

p.margin5 {
  margin: 0 0 0 200px;
}

p.code-description {
  margin: 0 0 15px;
}

@media(min-width:64em) {
  p.code-description {
    margin: 5px 0 20px;
  }
}

/* justifications */
h3.pros {
  display: block;
  padding: 3px 10px;
  margin: 20px auto;
  max-width: 205px;
  background-color: lightgreen;
  color: green;
  box-shadow: var(--bs);
  border-color: green;
  border-style: solid;
  border-width: 2px;
}

@media(min-width:64em) {
  h3.pros {
    max-width: 265px;
    border-width: 3px;
  }
}

h3.cons {
  display: block;
  padding: 3px 10px;
  margin: 20px auto;
  max-width: 210px;
  background-color: lightcoral;
  color: darkred;
  box-shadow: var(--bs);
  border-color: darkred;
  border-style: solid;
  border-width: 2px;
}

@media(min-width:64em) {
  h3.cons {
    max-width: 280px;
    border-width: 3px;
  }
}

/* codebox coloured text */
.codebluetext {
  color: darkblue;
}

.codebrowntext {
  color: var(--clr-brown);
}

.codegreentext {
  color: darkgreen;
}



/* spoilers */
#spoil-btn1,
#spoil-btn2,
#spoil-btn3 {
  border-width: 2px 2px 2px 5px;
  border-style: solid;
  overflow-wrap: break-word;
  font-family: var(--ff-secondary);
  line-height: 1rem;
  position: relative;
  padding: 0 5px;
}

#spoil-btn1 {
  color: blue;
  background: skyblue;
  border-color: blue;
}

#spoil-btn2 {
  color: var(--clr-brown);
  background: orange;
  border-color: var(--clr-brown);
}

#spoil-btn3 {
  color: red;
  background: lightcoral;
  border-color: red;
}

#spoil-btn1:hover,
#spoil-btn2:hover,
#spoil-btn3:hover {
  cursor: pointer;
}

#spoil-btn1:hover {
  background: lightblue;
}

#spoil-btn2:hover {
  background: lightgoldenrodyellow;
}

#spoil-btn3:hover {
  background: lightpink;
}

#spoil-btna {
  color: darkgreen;
  background: var(--clr-light);
  font-family: var(--ff-secondary);

  position: relative;
  margin-bottom: 5px;
  border-color: darkgreen;
  border-style: solid;

  font-size: 0.8rem;
  border-width: 2px;
  border-radius: 6px;
}

#spoil-btna:hover {
  background: darkgreen;
  color: var(--clr-light);
  cursor: pointer;
  transition: 0.5s;
}

#spoil-btnb {
  color: var(--clr-brown);
  background: var(--clr-light);
  font-family: var(--ff-secondary);

  position: relative;
  margin-bottom: 5px;
  border-color: var(--clr-brown);
  border-style: solid;

  font-size: 0.8rem;
  border-width: 2px;
  border-radius: 6px;
}

#spoil-btnb:hover {
  background: var(--clr-brown);
  color: var(--clr-light);
  cursor: pointer;
  transition: 0.5s;
}

@media (min-width: 64em) {

  #spoil-btna,
  #spoil-btnb {
    font-size: 1rem;
  }
}

#spoil-move1,
#spoil-move2,
#spoil-move3,
#spoil-movea,
#spoil-moveb {
  transition: opacity 0.2s ease-in-out;
}

.hide-text1,
.hide-text2,
.hide-text3,
.hide-texta,
.hide-textb {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.reveal-text1,
.reveal-text2,
.reveal-text3,
.reveal-texta,
.reveal-textb {
  height: 100%;
  opacity: 1;
}