/* custom properties */
:root {
  --ff-primary: "Noto Sans", sans-serif;
  --ff-secondary: "Inconsolata", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: rgb(230, 230, 230);
  --clr-dark: rgb(30, 30, 30);
  --clr-dark2: rgb(60, 60, 60);
  --clr-accent: rgb(38, 97, 38);
  --clr-accent2: rgb(80, 80, 120);
  --clr-accent3: rgb(75, 80, 100);
  --clr-brown: rgb(100, 50, 0);
  --clr-html: rgb(241, 101, 41);
  --clr-css: rgb(1, 101, 241);
  --clr-js: rgb(240, 219, 79);

  --fs-h1: 1.8em;
  --fs-h2: 1.3em;
  --fs-h3: 1em;
  --fs-h4: 0.9em;
  --fs-h5: 0.8em;
  --fs-body: 0.75rem;

  --bs: 0em 0em 0.75em rgba(0, 0, 0, 0.75);
  --bs4: 0em 0em 0.4em rgba(150, 150, 150, 0.75);
}

@media (min-width: 64em) {
  :root {
    --fs-h1: 2em;
    --fs-h2: 1.5em;
    --fs-h3: 1.17em;
    --fs-h4: 1.12em;
    --fs-h5: 0.83em;
    --fs-body: 0.85rem;
  }
}

/* typography */
h1 {
  line-height: 1.4rem;
  margin: 0;
  font-size: var(--fs-h1);
}

h2 {
  line-height: 1.4rem;
  margin: 0;
  font-size: var(--fs-h2);
}

h3 {
  line-height: 1rem;
  margin: 0;
  font-size: var(--fs-h3);
}

h4 {
  line-height: 1rem;
  margin: 0;
  font-size: var(--fs-h4);
}

h5 {
  line-height: 1rem;
  font-size: var(--fs-h5);
  font-weight: var(--fw-reg);
}

body {
  line-height: 1.25rem;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

@media (min-width: 64em) {
  h1 {
    line-height: 1.8rem;
  }

  h2 {
    line-height: 1.6rem;
  }

  h3 {
    line-height: 1rem;
  }

  h4 {
    line-height: 1rem;
  }

  h5 {
    line-height: 1rem;
  }

  body {
    line-height: 1.4rem;
  }
}

/* styles */
section {
  padding: 3em 2em;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* browse assist*/
:focus {
  outline: 2px solid var(--clr-accent2);
  outline-offset: 2px;
  position: static;
  z-index: 0;
  border-radius: 2px;
}

html {
  scroll-behavior: smooth;
}

/* hanhuang.tech splash */
#habbitsplash {
  position: fixed;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  transition: 1s;
  transition-delay: 3s;
}

@media (min-width: 64em) {
  #habbitsplash {
    row-gap: 12px;
  }
}

#habbitsplash div {
  filter: drop-shadow(0px 0px 1px var(--clr-light));
  transition: 1s;
  transition-delay: 3s;
}

@media (min-width: 64em) {
  #habbitsplash div {
    filter: drop-shadow(0px 0px 2px var(--clr-light));
    margin-left: 40px;
  }
}

#habbitsplash img {
  max-height: 40px;
  filter: hue-rotate(90deg);
  margin: 0 15px 8px 0;
}

@media (min-width: 64em) {
  #habbitsplash img {
    max-height: 50px;
    margin: 0 20px 12px 0;
  }
}

#habbitsplash h1 {
  font-family: var(--ff-secondary);
  background-color: var(--clr-dark2);
  color: var(--clr-light);
  margin: auto 0;
  font-size: 1rem;
  padding: 0px 8px;
}

@media (min-width: 64em) {
  #habbitsplash h1 {
    font-size: 1.2rem;
    padding: 0px 10px;
  }
}

#habbitsplash i {
  display: flex;
  justify-content: center;
  font-family: var(--ff-secondary);
  color: lightgreen;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 1s;
  transition-delay: 3s;
}

@media (min-width: 64em) {
  #habbitsplash i {
    font-size: 1.25rem;
    margin-left: 40px;
  }
}

/* animations */

/*img.habbit animations*/
img.habbit-a.animate,
img.habbit-b.animate {
  animation: habbit-rotate 2.5s;
}

img.banner.animate {
  animation: bannershrink 2.5s;
}

#arrow-button.animate {
  animation: arrowrotation 2.5s;
}

#lantern.animate {
  animation: animateLtnBG 2.5s;
}

/*#burger toggle animations*/
#burger.toggle {
  visibility: hidden;
  opacity: 0;
  border-color: gray var(--clr-accent3) var(--clr-accent3) gray;
}

#hidden-burger-contents.toggle {
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
  transition: 0.5s;
}

#arrow-button.toggle {
  visibility: hidden;
  background-color: var(--clr-accent3);
  scale: 1.5;
  opacity: 0;
  transition: 2s;
}

/*keyframes*/
@keyframes habbit-rotate {
  from {
    transform: rotate(0deg);
  }

  50% {
    border-radius: 50%;
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes bannershrink {
  50% {
    border-radius: 10px;
    filter: blur(1px);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes arrowrotation {
  from {
    transform: rotate(0deg);
  }

  50% {
    background-color: skyblue;
    filter: blur(1px);
    border-radius: 50%;
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes animateLtn {
  60% {
    background: rgb(100, 100, 100);
  }

  80% {
    background: whitesmoke;
    border-color: var(--clr-dark) gray;
  }
}

@keyframes animateLtnBG {
  50% {
    background-color: yellow;
  }
}

@keyframes animateLtn-lt {
  60% {
    border-color: transparent rgba(100, 100, 100, 0.5) transparent
      rgba(100, 100, 100, 0.5);
  }

  80% {
    visibility: transparent transparent transparent transparent;
  }
}

/* nav */
nav.bar {
  position: fixed;
  top: 45%;
  right: 0px;
  z-index: 1;
}

nav.bar.sectioned-with-tab {
  top: 40%;
  transform: translateX(50px);
  transition: 1s;
}

#burger {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
  cursor: pointer;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  border-width: 3px;
  border-style: solid;
  border-color: gray var(--clr-accent3) var(--clr-accent3) gray;
  box-shadow: 0 0 2px var(--clr-light);
  border-radius: 50%;
  transition: 0.5s;
}

#burger:hover {
  background: rgba(25, 25, 25, 0.8);
  border-color: var(--clr-dark) gray gray var(--clr-dark);
  box-shadow: 0 0 5px var(--clr-light);
}

div.ham {
  display: block;
  background: lightgray;
  min-width: 12px;
  padding: 1px;
}

@media (min-width: 64em) {
  div.ham {
    display: block;
    min-width: 15px;
    padding: 1.5px;
  }
}

#hidden-burger-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  opacity: 0;
  top: -20px;
  right: 0px;
  background: var(--clr-dark);
  padding: 5px;
  font-family: var(--ff-secondary);
  transform: translateX(650px);
  box-shadow: var(--bs4);
  transition-duration: 1s;
  z-index: 1;
}

@media (min-width: 64em) {
  #hidden-burger-contents {
    padding: 7px;
  }
}

#hidden-burger-contents.frontend {
  min-width: 60px;
}

#hidden-burger-contents .resources,
#hidden-burger-contents .projects,
#hidden-burger-contents .aboutme {
  margin: 0 auto;
  padding: 0px 5px;
  background-color: transparent;
  color: var(--clr-light);
  text-decoration: none;
  transition: 0.5s;
}

@media (min-width: 64em) {
  #hidden-burger-contents .resources,
  #hidden-burger-contents .projects,
  #hidden-burger-contents .aboutme {
    padding: 1px 7px;
  }
}

#hidden-burger-contents .resources:hover,
#hidden-burger-contents .projects:hover,
#hidden-burger-contents .aboutme:hover {
  color: lightgreen;
  background-color: var(--clr-accent);
}

#hidden-burger-contents img.habbit-a {
  position: absolute;
  bottom: -10px;
  left: -15px;
  width: 25px;
  box-sizing: border-box;
  background-color: var(--clr-accent);
  border-radius: 50%;
  transition: 0.75s;
}

@media (min-width: 64em) {
  #hidden-burger-contents img.habbit-a {
    bottom: -15px;
    left: -15px;
    width: 30px;
  }
}

#hidden-burger-contents img.habbit-a:hover {
  filter: invert(100%);
}

#side-burger-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 5px;
  right: 75px;
  display: flex;
  justify-content: space-around;
  background: var(--clr-dark2);
  outline: 2px solid var(--clr-accent);
  transition: 0.75s;
}

@media (min-width: 64em) {
  #side-burger-content {
    top: 8px;
    right: 100px;
  }
}

#side-burger-content .title,
#side-burger-content .subtitle {
  display: inline-block;
  color: lightgreen;
  text-decoration: none;
  font-size: 0.7rem;
  padding: 0 5px;
  transition: 0.5s;
}

#side-burger-content .title {
  background: var(--clr-accent);
}

@media (min-width: 64em) {
  #side-burger-content .title,
  #side-burger-content .subtitle {
    font-size: 0.9rem;
    padding: 1px 8px;
  }
}

#side-burger-content .title:hover {
  background: rgb(0, 90, 0);
}

#side-burger-content .subtitle:hover {
  background: var(--clr-dark);
}

/*arrow-button*/

@media (min-width: 64em) {
  #arrow-button {
    opacity: 0.5;
    background-color: slategray;
    border-width: 2px;
    border-style: solid;
    border-color: gray var(--clr-dark) var(--clr-dark) gray;
    border-radius: 50%;
    box-shadow: 4px 4px 4px black;
    transition: 1s;
  }

  #arrow-button span {
    display: block;
    border-width: 2px 0 0 2px;
    border-style: solid;
    border-color: var(--clr-light);
    transform: rotate(45deg);
    margin: 7px;
    padding: 5px;
  }

  #arrow-button:hover {
    opacity: 1;
    background-color: var(--clr-accent3);
    border-color: lightgray var(--clr-dark) var(--clr-dark) lightgray;
    border-radius: 0;
  }
}

/*lantern*/

/*intial position*/
#lantern {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 4;
  text-decoration: none;
  background: radial-gradient(gray, rgba(50, 50, 50, 0.5));
  height: 90px;
  width: 50px;
  border-radius: 30px 0 0;
}

/*lantern ring*/
div.standpart {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 15px;
  padding: 3px;
  border: 2px inset var(--clr-dark);
}

/*horizontal lantern column*/
div.standpart::before {
  position: absolute;
  top: 0px;
  left: -5px;
  z-index: 2;
  content: "";
  display: block;
  background: var(--clr-dark);
  width: 30px;
  height: 4px;
}

/*vertical lantern column*/
div.standpart::after {
  position: absolute;
  top: -10px;
  left: 10px;
  content: "";
  display: block;
  background: rgb(80, 80, 80);
  padding: 35px 4px;
  border-color: var(--clr-dark);
  border-style: solid;
  border-width: 6px 2px 12px;
  border-radius: 2px 2px 0 0;
}

/*1st dome*/
div.dome {
  content: "";
  position: absolute;
  z-index: 2;
  top: -12px;
  right: -13px;
  border: 16px solid;
  border-color: transparent transparent var(--clr-dark) transparent;
  border-radius: 15px;
}

/*2nd dome*/
div.dome::after {
  content: "";
  position: absolute;
  bottom: -28px;
  right: -20px;
  border: 20px solid;
  border-color: transparent transparent var(--clr-dark) transparent;
  border-radius: 12px;
}

/*bulb*/
div.bulb {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: -11px;
  display: flex;
  background: rgba(150, 150, 150, 1);
  border-width: 5px 1px 1px;
  border-style: solid;
  border-color: var(--clr-dark) gray;
  border-radius: 0 0 50% 50%;
}

div.bulb:hover {
  transition-delay: 1s;
  background-color: rgb(200, 200, 200);
  border-color: rgb(25, 25, 25);

  animation-name: animateLtn;
  animation-delay: 1s;
  animation-duration: 1s;
}

/*con text*/
span.bulb::before {
  position: absolute;
  bottom: 32px;
  right: 0px;
  content: "con";
  color: var(--clr-light);
}

/*tact text*/
span.bulb {
  position: relative;
  z-index: 4;
  display: inline-block;
  writing-mode: vertical-lr;
  padding: 0 0 0px 2px;
  text-decoration: none;
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
  font-size: 1rem;
  line-height: 1.5rem;
}

/*lantern light*/
div.bulb::before {
  content: "";
  position: absolute;
  z-index: 4;
  bottom: -6px;
  right: -16px;
  border: 15px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  border-radius: 10px;
  padding: 14px;
}

/*lantern light hover*/
div.bulb:hover::before {
  transition-delay: 1s;
  border-color: transparent rgba(200, 200, 200, 0.75) transparent
    rgba(200, 200, 200, 0.75);

  animation-name: animateLtn-lt;
  animation-delay: 1s;
  animation-duration: 1s;
}

/*con*/
span.bulb:hover::before {
  color: gray;
}

/*tact*/
span.bulb:hover {
  color: rgb(25, 25, 25);
}

/* fourofour */
section.fourofour {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      to top,
      var(--clr-dark) 50%,
      rgba(200, 100, 100, 0.6)
    ),
    url(../../hanhuang.tech/img/sunset.jpg);
  background-repeat: no-repeat;
}

div.four-box {
  background: var(--clr-light);
}

div.four-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
}

div.four-flex img {
  filter: grayscale(0.5) blur(1px) drop-shadow(10px 10px 10px var(--clr-dark));
  position: absolute;
  top: -35px;
  left: 75%;
}

@media (min-width: 64em) {
  div.four-flex img {
    transform: scale(125%);
    top: -50px;
    left: 85%;
  }
}

div.four-flex img.red {
  z-index: 1;
}

div.four-flex img.green {
  z-index: 0;
}

div.four-flex h1 {
  display: inline-block;
  background: var(--clr-accent3);
  color: var(--clr-light);
  letter-spacing: 2px;
  font-family: var(--ff-secondary);
  margin: auto 20px auto 20px;
  padding: 5px 8px;
  border-width: 4px;
  border-style: solid;
  border-color: grey var(--clr-dark) var(--clr-dark) grey;
  box-shadow: var(--bs);
}

div.four-box h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-dark2);
  margin: 20px;
}

a.four-return h2 {
  display: inline-block;
  text-decoration: none;
  background: darkred;
  color: var(--clr-light);
  white-space: nowrap;
  padding: 0px 5px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  transition: 1s;
}

a.four-return h2:hover {
  color: var(--clr-accent);
  border-color: var(--clr-accent);
  background: lightgreen;
}

/* contact */
section.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-image: url(../img/dusk.jpg);
  background-color: darkgoldenrod;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

#form {
  background-color: var(--clr-light);
  padding: 15px;
  border-radius: 5px;
}

.contactform .responses {
  padding: 15px;
  margin: 0;
}

.flexrowwrap {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.flexcolumnwrap {
  flex-direction: stretch;
}

input[type="text"],
select,
textarea {
  padding: 8px;
  margin: 5px 0 10px 0;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

input[type="text"] {
  display: block;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  cursor: pointer;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
}

input[type="submit"]:hover {
  background-color: green;
}

/* logo */
div.logowrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

div.logo {
  position: fixed;
  display: flex;
  padding: 15px;
}

@media (min-width: 64em) {
  div.logo {
    padding: 20px;
  }
}

div.habbit-img {
  position: relative;
  margin-right: 10px;
  filter: drop-shadow(0 0 1px lightgreen);
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--clr-dark2);
  outline-offset: 6px;
  transition: 1s;
}

div.habbit-img:hover {
  filter: drop-shadow(0 0 4px lightgreen);
}

@media (min-width: 64em) {
  div.habbit-img {
    margin-right: 15px;
  }
}

img.habbit-a,
img.habbit-b {
  width: 35px;
  cursor: pointer;
}

@media (min-width: 64em) {
  img.habbit-a,
  img.habbit-b {
    width: 40px;
  }
}

img.habbit-a {
  position: relative;
}

img.habbit-b {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

#habbitbanner {
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  background-color: var(--clr-light);
  text-decoration: none;
  margin: auto;
  padding: 0 5px;
  font-size: 1.1rem;
  color: var(--clr-dark);
  font-weight: bold;
  font-family: var(--ff-secondary);
  border: 2px solid var(--clr-dark);
  border-radius: 0 6px 6px 0;
}

@media (min-width: 64em) {
  #habbitbanner {
    padding: 2px 5px;
    font-size: 1.2rem;
  }
}

#habbitbanner:hover {
  transform: scale(105%);
  filter: drop-shadow(0px 0px 4px var(--clr-light));
}

/* connectedto */
#connectedwrap {
  position: fixed;
  display: inline-block;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  max-width: 65px;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.5);
}

@media (min-width: 64em) {
  #connectedwrap {
    max-width: 80px;
  }
}

#dynamic-rgb {
  margin: 0px;
  text-align: center;
  color: var(--clr-light);
  background: black;
}

div.connectedto {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 5s linear infinite;
}

@media (min-width: 64em) {
  div.connectedto {
    animation: marquee 8s linear infinite;
  }
}

h5.connectedto {
  display: inline-block;
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  letter-spacing: 1px;
  line-height: 1.4rem;
  margin: 0;
}

/*partitioning*/
section.body-partition {
  padding: 0;
}

div.leftbar {
  visibility: hidden;
}

@media (min-width: 64em) {
  section.body-partition {
    display: flex;
  }

  section.body-partition.center-habbit-bg {
    position: relative;
    padding: 0;
  }

  div.leftbar {
    visibility: visible;
    background: var(--clr-dark);
    padding: 0 40px;
  }
}

/* titlebar */

.titlebar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-image: url(../img/bridge.jpg);
  background-size: cover;
  background-position: 0 56%;
  filter: grayscale(80%);
  opacity: 0.9;
}

@media (min-width: 64em) {
  .titlebar {
    padding: 24px 0;
  }
}

.titlebar h1 {
  display: inline-block;
  padding: 0px 10px;
  text-transform: uppercase;
  background: rgba(75, 75, 75, 0.5);
  letter-spacing: 2px;
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  border: 1px solid var(--clr-light);
}

@media (min-width: 64em) {
  .titlebar h1 {
    padding: 0px 12px;
  }
}

/* resources body */
#resources-body {
  border: 1px solid var(--clr-dark2);
  text-align: center;
  background: linear-gradient(127deg, rgba(0, 0, 0, 1), rgba(100, 0, 0, 0) 80%),
    linear-gradient(127deg, rgba(0, 150, 0, 1), rgba(0, 100, 0, 0) 80%),
    linear-gradient(336deg, rgba(75, 80, 100, 1), rgba(0, 0, 100, 0) 80%);
  background-attachment: fixed;
}

#res-frame {
  margin: 20px;
  padding: 5px;
  backdrop-filter: sepia(50%);
}

div.subjectwrapper1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: var(--clr-light);
  max-width: 200px;
  padding: 20px;
  margin: 50px auto;
  border-radius: 25px 0px;
  box-shadow: var(--bs);
}

@media (min-width: 64em) {
  div.subjectwrapper1 {
    padding: 22px;
    max-width: 230px;
  }
}

div.subjectwrapper1 img {
  max-width: 160px;
  border-radius: 5px;
}

@media (min-width: 64em) {
  div.subjectwrapper1 img {
    max-width: 180px;
  }
}

a.subjectheading1 {
  z-index: 0;
  background-color: var(--clr-dark2);
  margin: 10px 0 0;
  text-decoration: none;
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  color: var(--clr-light);
  font-size: 1rem;
  padding: 1px 10px;
  filter: drop-shadow(0px 4px 4px gray);
}

@media (min-width: 64em) {
  a.subjectheading1 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin: 12px 0 0;
  }
}

div.subjectdropdown1 {
  position: absolute;
  top: 160px;
  z-index: -1;
  opacity: -1;
}

@media (min-width: 64em) {
  div.subjectdropdown1 {
    top: 180px;
  }
}

a.dropdowntopic {
  display: block;
  text-decoration: none;
  font-weight: var(--fw-reg);
  color: var(--clr-light);

  background: var(--clr-dark);
  min-width: 200px;
  margin: 1px 0;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  box-shadow: var(--bs);
}

a.dropdowntopic:hover {
  display: block;
  border-color: gray white white gray;
  background: var(--clr-dark2);
  margin: 1px -5px 1px 5px;
  border-radius: 2px;
  transition-duration: 0.5s;
}

p.subjectblurb1 {
  margin: 6px 0 0;
  line-height: 1rem;
}

@media (min-width: 64em) {
  p.subjectblurb1 {
    margin: 8px 0 0;
    line-height: 1.2rem;
  }

  /* extends resource section */
  #resource-flex-extender {
    flex: 1;
  }
}

/* mid partition */
/* project headings */
@media (min-width: 64em) {
  #proj-heading-wrap {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 20px;
    margin-left: 80px;
    min-width: 200px;
    box-shadow: var(--bs);
  }
}

/* project tiles */
#project-tiles-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 30px 70px;
  background-image: linear-gradient(
    to bottom,
    var(--clr-accent3),
    black,
    var(--clr-accent3)
  );
  background-attachment: fixed;
}

@media (min-width: 64em) {
  #project-tiles-wrap {
    flex: 1;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 0px;
    background-image: radial-gradient(var(--clr-dark2), black);
    background-attachment: local;
  }
}

div.project {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(100, 100, 100, 0.5);
  border-radius: 8px;
  box-shadow: var(--bs4);
}

@media (min-width: 64em) {
  div.project {
    z-index: -1;
    opacity: 0;
    border-radius: 0;
    padding: 15px 40px;
  }
}

/* project tile contents */
h3.project-title {
  display: inline-block;
  color: var(--clr-light);
  margin: 0 auto;
  padding: 3px 8px;
  background: var(--clr-accent3);
}

@media (min-width: 64em) {
  h3.project-title {
    padding: 5px 10px;
  }
}

div.imgwrapper1,
div.imgwrapper2,
div.imgwrapper3,
div.imgwrapper4 {
  position: relative;
  max-width: 175px;
  margin: 10px auto;
  padding: 2px;
  background-color: rgba(150, 150, 150, 1);
  overflow: hidden;
}

@media (min-width: 64em) {
  div.imgwrapper1,
  div.imgwrapper2,
  div.imgwrapper3,
  div.imgwrapper4,
  div.imgwrapper5 {
    max-width: 220px;
    padding: 3px;
  }
}

h2.viewgithub1,
h2.viewgithub2,
h2.viewgithub3,
h2.viewgithub4 {
  position: absolute;
  display: inline-block;
  padding: 2px 5px;
  top: 30%;
  left: 0%;
  color: var(--clr-light);
  font-weight: var(--fw-reg);
  font-family: var(--ff-secondary);
  background-color: var(--clr-dark2);
  opacity: 0;
  z-index: 0;
}

h3.project-subtitle {
  max-width: 200px;
  margin: 0 auto;
  color: greenyellow;
  font-weight: var(--fw-reg);
}

@media (min-width: 64em) {
  h3.project-subtitle {
    max-width: 300px;
    line-height: 1.25rem;
  }
}

div.project-desc {
  max-width: 220px;
  margin: 5px auto;
  color: var(--clr-light);
}

@media (min-width: 64em) {
  div.project-desc {
    max-width: 400px;
    height: 90px;
  }
}

a.web-link {
  text-decoration: none;
  margin: 0 5px;
  color: skyblue;
  transition: 0.5s;
}

a.web-link:hover {
  color: lightslategray;
}

div.project-list-subjects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  margin-top: 5px;
}

div.project-list-subjects h4 {
  padding: 1px 5px;
  color: var(--clr-light);
  font-weight: var(--fw-reg);
  background-color: var(--clr-accent2);
}

/* project section rotating animation */
@media (min-width: 64em) {
  #project-bg-img {
    position: absolute;
    z-index: 0;
    left: 96px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    width: 300px;
    background-image: url(../img/pohutu.jpg);
    filter: blur(1px) contrast(200%) grayscale(50%);
    background-size: cover;
    box-shadow: var(--bs);
    border-radius: 30px;
  }

  #habbit-border {
    position: absolute;
    z-index: 0;
    left: 96px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 120px;
    width: 120px;
    background-color: rgba(0, 50, 100, 0.6);
    outline-width: 8px;
    outline-style: solid;
    outline-color: var(--clr-dark);
  }

  #habbit-spray {
    position: absolute;
    z-index: 1;
    left: 96px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    background-image: url("../img/habbit-a.png");
    background-size: cover;
  }
}

/* critiques */
#critiques {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: var(--clr-accent3);
  box-shadow: var(--bs);
}

@media (min-width: 64em) {
  #critiques {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 30px;
    right: 30px;
    margin: 0px;
    padding: 5px;
    max-width: 150px;
  }
}

#critiques:hover {
  filter: drop-shadow(0px 0px 1px var(--clr-light));
}

@media (min-width: 64em) {
  #critiques:hover {
    scale: 102%;
  }
}

#critiques a {
  text-decoration: none;
}

@media (min-width: 64em) {
  #critiques .project-desc {
    height: 65px;
  }
}

/*bot partition*/
@media (min-width: 64em) {
  #aboutme-wrap {
    flex: 1;
    margin: 0 auto;
    border-width: 10px;
    border-style: solid;
    border-color: var(--clr-dark);
  }

  #aboutme-wrap div.titlebar {
    max-width: 240px;
    margin: 10px auto;
    box-shadow: var(--bs);
  }
}

#profile {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px;
}

@media (min-width: 64em) {
  #profile {
    flex: 1;
    row-gap: 20px;
    padding: 30px;
  }
}

#profile h1 {
  text-align: center;
  font-weight: var(--fw-bold);
}

#profile h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-reg);
  margin: 10px 0;
}

#profile img {
  max-width: 150px;
  margin: 0px auto;
  box-shadow: var(--bs);
}

@media (min-width: 64em) {
  #profile img {
    max-width: 200px;
  }
}

#profile p {
  max-width: 350px;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

@media (min-width: 64em) {
  #profile p {
    max-width: 450px;
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.flex-badges {
  display: flex;
  justify-content: center;
  overflow: auto;
}

/* trees */
@media (min-width: 64em) {
  div.trees {
    flex: 1;
    padding: 50px 0;
    background-image: url(../img/trees.jpg);
    filter: grayscale(20%);
    background-color: lightgreen;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: scroll;
    background-position: 0 15%;
    border-width: 10px 0 0;
    border-style: solid;
    border-color: var(--clr-dark);
  }
}

/* contactbar */
#contactbar {
  display: flex;
  justify-content: center;
  background: var(--clr-dark2);
  padding: 8px 0;
  column-gap: 20px;
}

@media (min-width: 64em) {
  #contactbar {
    flex: 1;
    column-gap: 30px;
  }
}

#contactbar a {
  display: flex;
  column-gap: 10px;
  text-decoration: none;
  padding: 4px 0px;
  border-radius: 5px;
  transition: 0.5s;
}

#contactbar .email {
  padding: 4px 5px;
}

#contactbar .email h2 {
  display: none;
}

@media (min-width: 64em) {
  #contactbar .email h2 {
    display: block;
    margin: auto 0;
    font-family: var(--ff-secondary);
    color: var(--clr-light);
  }
}

#contactbar .email img,
#contactbar .github img,
#contactbar .linkedin img,
#contactbar .youtube img {
  width: 30px;
  filter: invert(100%);
  transition: 0.5s;
}

#contactbar .github img:hover {
  filter: invert(1%) drop-shadow(0px 0px 4px lightgray);
}

#contactbar .email img:hover,
#contactbar .linkedin img:hover,
#contactbar .youtube img:hover {
  filter: invert(10%) drop-shadow(0px 0px 4px lightgray);
}

@media (min-width: 64em) {
  #contactbar .email img:hover {
    filter: invert(100%);
  }

  #contactbar .email:hover {
    background-color: rgb(40, 40, 40);
    filter: drop-shadow(0px 0px 4px gray);
  }
}

/* footer */
#footer {
  position: relative;
  z-index: 0;
  background-color: var(--clr-accent3);
  padding: 11.5px 0;
  border-width: 0 70px 0 0;
  border-style: solid;
  border-color: var(--clr-accent3);
}

h4.footer {
  position: absolute;
  bottom: 0px;
  right: -15px;

  display: inline-block;
  background-color: rgb(75, 100, 150);

  font-weight: var(--fw-reg);
  color: var(--clr-light);
  padding: 1px 5px;
  margin: 5px 0 2px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--clr-dark2);
  border-radius: 3px;
  filter: drop-shadow(0px 0px 5px var(--clr-dark2));
}

@media (min-width: 64em) {
  h4.footer {
    padding: 3px 8px;
    border-width: 3px;
    border-radius: 5px;
  }
}

/* frontend tech */
#descbox {
  background-color: var(--clr-dark2);
}

#descbox-body {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: auto 150px;
  justify-content: center;
  overflow: hidden;
}

@media (min-width: 64em) {
  #descbox-body {
    grid-template-columns: auto auto;
  }
}

#descbox p {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  margin: 20px;
  padding: 5px;
  background: rgb(100, 100, 100);
  font-family: var(--ff-secondary);
  font-weight: bold;
  color: var(--clr-light);
  text-align: center;
  font-size: 0.85rem;
  box-shadow: -0.4em 0.4em 0em var(--clr-dark);
}

@media (min-width: 64em) {
  #descbox p {
    max-width: 500px;
    margin: 25px;
    padding: 20px;
    font-size: 1rem;
  }
}

#descbox img {
  max-width: 300px;
  box-shadow: var(--bs);
}

@media (min-width: 64em) {
  #descbox img {
    max-width: 400px;
  }
}

/* tab */
#tabwrapper {
  z-index: 1;
  position: fixed;
  left: 5px;
  top: 45%;
  transform: translate(-70px);
  background-color: var(--clr-dark2);
  box-shadow: -0.3em 0.3em 0em rgba(0, 0, 0, 1);
  opacity: 0.75;
  border-radius: 5px;
}

@media (min-width: 64em) {
  #tabwrapper {
    top: 45%;
    border-radius: 6px;
    opacity: 1;
  }
}

#tab {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  padding: 3px;
  background: linear-gradient(
    315deg,
    rgba(50, 50, 100, 0.5) 50%,
    rgba(150, 150, 200, 0.5) 50%
  );
  border-radius: 5px;
  box-shadow: var(--bs);
}

a.tabcontent {
  background-color: var(--clr-accent3);
  padding: 0px 2px;
  line-height: 1rem;
  color: white;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 3px;
  transition: 1s;
}

a.tabcontent:hover {
  background-color: var(--clr-dark);
}

/* tab sections */
#head,
#header {
  background-color: var(--clr-light);
  padding-bottom: 15px;
}

@media (min-width: 64em) {
  #head,
  #header {
    flex: 1;
    border-width: 0 0 0 5px;
  }
}

div.subject-banner {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  padding: 10px;
  background-image: url(../img/treebyhouse.jpg);
  background-color: var(--clr-brown);
  background-blend-mode: multiply;
  background-size: 100%;
  background-attachment: fixed;
  border-width: 7px 0;
  border-style: solid;
  border-color: var(--clr-dark) transparent var(--clr-dark) transparent;
}

.subject-banner h2 {
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  line-height: 1.1rem;
  padding: 0px 5px;
  background-color: var(--clr-light);
  border: 2px solid var(--clr-dark);
  text-shadow: 1px 1px gray;
}

@media (min-width: 64em) {
  .subject-banner {
    padding: 20px;
  }
}

/* side headings */
div.side-heading {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-secondary);
  row-gap: 2px;
  margin: 10px 0 0 10px;
}

div.side-heading h3 {
  display: inline-block;
  background-color: var(--clr-dark2);
  font-weight: var(--fw-reg);
  color: var(--clr-light);
  padding: 0px 5px;
  margin-right: auto;
}

div.body-wrapper {
  padding: 20px 65px;
}

div.body-wrapper h3 {
  margin: 5px 0;
}

@media (min-width: 64em) {
  div.side-heading {
    row-gap: 4px;
  }

  div.side-heading h4 {
    padding: 2px 7px;
  }

  div.body-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  div.body-wrapper h3 {
    margin: 5px 0;
  }
}

/* codebox */
div.codebox,
div.code-btn-j {
  position: relative;
  background: var(--clr-dark);
  font-family: var(--ff-secondary);
  margin: 0;
  padding: 5px 10px;
  line-height: 1rem;
  border-width: 2px 2px 2px 6px;
  border-style: solid;
  border-color: gray;
  border-radius: 3px;
}

@media (min-width: 64em) {
  div.codebox,
  div.code-btn-j {
    padding: 8px 15px;
  }
}

div.code-btn-j {
  border-color: var(--clr-js);
}

div.code-html,
div.code-css,
div.code-js {
  position: absolute;
  z-index: 1;
  right: 5px;
  color: var(--clr-dark);
  padding: 0 2px;
  border-radius: 2px;
}

div.code-html {
  background-color: var(--clr-html);
  opacity: 0.5;
}
div.code-css {
  background-color: var(--clr-css);
}
div.code-js {
  background-color: var(--clr-js);
}

@media (min-width: 64em) {
  div.code-html,
  div.code-css,
  div.code-js {
    padding: 1px 4px;
  }
}

p.margin0,
p.margin1,
p.margin2,
p.margin3,
p.margin4,
p.margin5 {
  position: relative;
  z-index: 2;
  color: lightgray;
  overflow-x: auto;
}

p.margin0 {
  margin: 0;
}

p.margin1 {
  margin: 0 0 0 20px;
}

p.margin2 {
  margin: 0 0 0 40px;
}

p.margin3 {
  margin: 0 0 0 60px;
}

p.margin4 {
  margin: 0 0 0 80px;
}

p.margin5 {
  margin: 0 0 0 100px;
}

p.code-desc {
  margin: 5px 0 10px;
}

@media (min-width: 64em) {
  p.code-desc {
    margin: 5px 0 20px;
  }
}

/* pros cons */
div.pros,
div.cons {
  display: flex;
  justify-content: center;
  margin: 25px auto 10px;
  max-width: 275px;
  background-color: var(--clr-dark2);
  outline: 2px solid var(--clr-dark2);
  outline-offset: 1px;
}

@media (min-width: 64em) {
  div.pros,
  div.cons {
    max-width: 600px;
  }
}

div.pros h3,
div.cons h3 {
  color: var(--clr-light);
  padding: 1px 10px;
  outline: 2px solid var(--clr-light);
}

div.pros h3 {
  background-color: darkgreen;
}

div.cons h3 {
  background-color: darkred;
}

/* spoilers */
#spoil-btn1,
#spoil-btn2,
#spoil-btn3,
#spoil-btna,
#spoil-btnb {
  border-width: 2px 2px 2px 5px;
  border-style: solid;
  overflow-wrap: break-word;
  font-family: var(--ff-secondary);
  line-height: 1rem;
  position: relative;
  margin: 2px;
  padding: 0 5px;
  color: var(--clr-dark);
  border-color: var(--clr-dark);
  border-radius: 3px;
  transition: 0.3s;
}

@media (min-width: 64em) {
  #spoil-btn1,
  #spoil-btn2,
  #spoil-btn3,
  #spoil-btna,
  #spoil-btnb {
    line-height: 1.2rem;
    margin: 3px;
    padding: 2px 7px;
  }
}

#spoil-btn1 {
  background: skyblue;
}

#spoil-btn2 {
  background: lightcoral;
}

#spoil-btn3 {
  background: lightgreen;
}

#spoil-btn1:hover,
#spoil-btn2:hover,
#spoil-btn3:hover {
  cursor: pointer;
}

#spoil-btn1:hover {
  background: lightblue;
}

#spoil-btn2:hover {
  background: lightpink;
}

#spoil-btn3:hover {
  background: rgb(175, 250, 175);
}

#spoil-btna {
  color: darkgreen;
  border-color: darkgreen;
}

#spoil-btna:hover {
  background: darkgreen;
  color: var(--clr-light);
  cursor: pointer;
}

#spoil-btnb {
  color: var(--clr-brown);
  border-color: var(--clr-brown);
}

#spoil-btnb:hover {
  background: var(--clr-brown);
  color: var(--clr-light);
  cursor: pointer;
}

@media (min-width: 64em) {
  #spoil-btna,
  #spoil-btnb {
    font-size: 0.85rem;
  }
}

#spoil-move1,
#spoil-move2,
#spoil-move3,
#spoil-movea,
#spoil-moveb {
  transition: opacity 0.3s ease-in-out;
}

.hide-text1,
.hide-text2,
.hide-text3,
.hide-texta,
.hide-textb {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.reveal-text1,
.reveal-text2,
.reveal-text3,
.reveal-texta,
.reveal-textb {
  height: 100%;
  opacity: 1;
}
